@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
:root {
  --primary-gradient: linear-gradient(90deg, #a770ef, #cf8bf3, #fdb99b);
}
.bg-banner {
  background-image: url("./assets/bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-primary-color {
  background-color: #f9f3fe;
}
.color-primary {
  color: #49326b;
}
.color-secondary {
  color: #f9f3fe;
}
.icon-style {
    color: #fff;
    background-color: #49326b;
    border-radius: 32%;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 50px;
    padding: 10px;
    display: flex;
    font-size: 28px;
}

.login-btn {
  border-radius: 8px;
  background: var(--primary-gradient);
}

/* swipper block */
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* swipper block end*/

.bounce-smooth {
  animation: zoom 3s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.why-choose-box {
  border: 1px solid transparent;
  border-radius: 20px;
  background: #fff;
  padding: 10px;
  height: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.why-choose-box:hover {
  transform: scale(1.05);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.navbar-highlight:hover {
  background-color: #49326b;
  border-radius: 10px;
  color: #f9f3fe !important;
}
