@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
:root {
  --primary-gradient: linear-gradient(90deg, #a770ef, #cf8bf3, #fdb99b);
}
.bg-banner {
  background-image: url('./assets/banner-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.primary-text {
  background: linear-gradient(90deg, #a770ef, #cf8bf3, #fdb99b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-btn {
  border-radius: 8px;
  background: var(--primary-gradient);
}

/* swipper block */
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* swipper block end*/

.bounce-smooth {
  animation: zoom 3s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.why-choose-box {
  border: 1px solid transparent;
  border-radius: 20px;
  background: linear-gradient(90deg, #3a6186, #89253e);
  padding: 10px;
  color: white;
  height: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.why-choose-box:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}